.button {
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  background: #cacbcd none;
  font-weight: 700;
  border-radius: .28571429rem;
  color: black;
  opacity: 0.8;
}

.button:hover {
  cursor: pointer;
  opacity: 1;
}