@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet');
.inputContainer {
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  height: 35px;
  display: flex;
  align-items: center;
  width: 267px;
}

.icon {
  width: 20px;
  height: 15px;
  padding: 0 5px;
}

.icon:hover {
  cursor: pointer;
}

.input {
  width: 200px;
  border: none;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.input:focus {
  outline: none;
  border: none;
}

.verticalDivider {
  height: 100%;
  width: 1%;
  border-left: 1px solid rgba(34,36,38,.15);
}

::placeholder {
  font-family: 'Roboto', sans-serif;
}
::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
}
::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
}
:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
}