@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet');
.formContainer {
  margin: 0 20px 20px 20px;
}

.block {
  display: block;
}

.titleInput {
  padding: .67857143em 1em;
  margin-top: 10px;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  line-height: 1.21428571em;
  transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
  box-shadow: none;
  font-family: 'Roboto', sans-serif;
}

.titleInput:focus {
  outline: none;
  border-width: 1px;
  border-color: #85b7d9;
}

.textarea {
  resize: none;
  outline: none;
  border-radius: .28571429rem;
  width: 93%;
  height: 60px;
  padding: .78571429em 1em;
  margin-top: 10px;
  line-height: 1.2857;
  font-size: 13px;
  transition: color .1s ease,border-color .1s ease;
  border: 1px solid rgba(34,36,38,.15);
  font-family: 'Roboto', sans-serif;
}

textarea:focus {
  outline: 0;
  border-color: #85b7d9;
}

.buttonContainer {
  text-align: center;
}

.formItem {
  margin-bottom: 10px;
}

.submitButton {
  background-color: #21ba45;
  border: none;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: .28571429rem;
}

.disable {
  opacity: 0.5;
  cursor: not-allowed;
}

.emptyInput {
  border: 1px solid red;
}

.submitButton:hover {
  background-color: #16ab39;
}