@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet');
.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.flexItem {
  padding-top: 20px;
  padding-bottom: 20px;
}

.horizontalLine {
  width: 100%;
  border-bottom: 1px solid black;
}