.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalMain {
  position:fixed;
  background: white;
  width: 30%;
  height: auto;
  top:50%;
  left:50%;
  padding-top: 20px;
  transform: translate(-50%,-50%);
}

.closeIcon {
  width: 10px;
  height: 10px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}