.post {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 500px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}

.post:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title {
  font-weight: bold;
  font-size: 16px;
  width: 350px;
}

.body {
  font-size: 14px;
  color: #5a6471;
  line-height: 1.5rem;
}

body p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.timestamp {
  font-size: 14px;
  color: #5a6471;
  width: 150px;
  text-align: right;
}

